.homePointOfSale {
  background-color: white;
  padding: 90px 0 50px;
  // height: 100vh;
  .homePointOfSaleTitle {
    color: #c6530f;
    text-align: center;
    font-weight: 500;
    font-size: 66px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
    @media (max-width:768px) {
      font-size: 45px;
      margin-bottom: 20px;
    }
    &::after{
      @media (max-width:768px) {
        width: 90px;
        left: 0%;
      }
      position: absolute;
      height: 5px;
      width: 150px;
      background-color: #c6530f;
      content: "";
      top: 4px;
      left: 10%;
    }
    &::before{
      @media (max-width:768px) {
        width: 90px;
        right: 0%;
      }
      position: absolute;
      height: 5px;
      width: 150px;
      background-color: #c6530f;
      content: "";
      top: 4px;
      right: 10%;
    }
  }
  .marketLogo {
    img {
      width: 100%;
      height: 100px;
      object-fit: conatin;
    }
  }
}
