#homeSlider{
    padding: 100px 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
.sliderBox{
    width: 98%;
    height: 100vh;
    .swiper{
        width: 90%;
        height: 100%;
        .swiper-slide{
        
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .4s eas;
            background-color: #F7EBEB;
            padding: 0 0 50px;
            .slide_card{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                .slideImage{
                    width: 400px;
                    height: 400px;
                    object-fit: contain;
                }
                .pattern{
                    width: 80px;
                    height: 15px;
                    margin-bottom: 10px;
                }
                button{
                    background-color: #F7EBEB;
                    cursor: pointer;
                    outline: none;
                    padding: 10px 55px;
                    color: #0D9B4D;
                    border-radius: 18px;
                    border: 1px solid #0D9B4D;
                    transition: .4s ease-in-out;
                    &:hover{
                        background-color: #FFB212;
                        border: 1px solid #FFB212;
                        color: #0D9B4D;
                    }
                }
            }
        }
        .swiper-button-prev{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #FFB212;
            &::after{
                content: "";
            }
            svg{ 
                width: 43px;
                position:absolute;
                top: 0%;
                left: -50%;
            }
            z-index: 99;
            left: 25% !important;
            @media (max-width:768px) {
                left: 15% !important;
            }
        }
        .swiper-button-next{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #FFB212;
            &::after{
                content: "";
            }
            svg{
                width: 43px;
                position:absolute;
                top: 0%;
                left: 50%;
            }
            z-index: 99;
            right: 25% !important;
            @media (max-width:768px) {
                right: 15% !important;
            }
        }

    }
}
}