.bottle{
    height: 500px;
    position: fixed;
    top: 20%;
    left: 50.5%;
    transform: translateX(-50%);
    z-index: 9000;
    img{
        width: 322px;
        height: 80%;
    }
}
    .noBottle{
    display: none;
    opacity: 0;
    }