.sectionHeader{
    text-align: center;
    p{
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 9.5%;
        color: #FAA432;

    }
    h2{
        text-align: center;
        font-size: 65px;
        color: #49382E;
        line-height: 84px;
        font-weight: 500;
        text-transform: capitalize;
        @media (max-width:768px) {
            font-size: 40px;
            line-height: 50px;
        }
    }
    h3{
        text-align: center;
        font-size: 45px;
        color: #49382E;
        line-height: 64px;
        font-weight: 500;
        @media (max-width:768px) {
            font-size: 30px;
            line-height: 40px;
        }
    }
}