#HomeToFour {
	position: relative;
	.homePatternOne {
		position: absolute;
		width: 150px;
		top: 20vh;
		right: 30vh;
		animation: moveUpDown 6s infinite;
		@media (max-width: 768px) {
			top: 20vh;
			right: 100px;
      width: 100px;
		}
		@media (max-width: 460px) {
			top: 80vh;
			left: 10%;
      width: 90px;
		}
	}
	.homePatternTwo {
		position: absolute;
		width: 90px;
		top: 120vh;
		left: 20vh;
		animation: moveDownUp 6s infinite;
		@media (max-width: 460px) {
			top: 110vh;
			left: auto;
			right: 10%;
			width: 70px;
		}
	}
	.homePatternThree {
		position: absolute;
		top: 190vh;
		left: 22vh;
		width: 220px;
		animation: moveDownUp 6s infinite;

    @media (max-width: 460px) {
			top: 180vh;
			left: 10%;
      width: 150px;
		}
	}
	.homePatternFour {
		position: absolute;
		top: 220vh;
		right: 25vh;
		width: 80px;
		animation: moveUpDown 6s infinite;
    @media (max-width: 460px) {
			top: 210vh;
			right: 10%;
		}
	}
	.homePatternFive {
		position: absolute;
		top: 285vh;
		right: 23vh;
		width: 170px;
		animation: moveUpDown 6s infinite;
    @media (max-width: 460px) {
			top: 280vh;
			right: 0vh;
      width: 150px;
		}
	}
}

@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes moveDownUp {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(0);
	}
}
