#contactBanner{
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .bannerText{
        h2{
            font-size: 60px;
            line-height: 70px;
            color: #fff;
        }
        p{
            font-size: 18px;
            line-height: 28px;
            color: #fff; 
        }
    }
}
#map{
    width: 100%;
    height: 450px;

    .leaflet-bottom {
        display: none;
    }
}