#products{

    .filterBtn{
        width: 100%;
        padding: 10px 8px;
        border: 1px solid #0D9B4D;
        color: #0D9B4D;
        background-color: #fff;
        border-radius: 10px;
    }
    .btnActive{
        background-color: #0D9B4D;
        color: #fff;
    }
    a{
            text-decoration: none;
        .productCard{ 
            width: 100%;
           
            .cardImg{
                width: 100%;
                height: 300px;
                position: relative;
                overflow: hidden;
                &::before {
                    content: ""; 
                    position: absolute;
                    top: 50%;
                   
                    left: 50%;
                    transform: translateX(-50%); 
                    width: 100%;
                    height: 100%; 
                    background-color:var(--circle-color, rgba(0, 123, 255, 0.2)); 
                    border-radius: 50%; 
                    z-index: -2; 
                  }
                .prdocutCardImage{
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                    // border: 2px solid black;
                }
                .cloud{
                    width: 100%;
                    height: auto;
                    position: absolute;
                    bottom: -30%  ;
                    z-index: -1;
                }
            }
            .cardText{
                text-align: center;
                h4{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 30px;
                    color: #0D0E06;
                }
                p{
                    font-size: 20px;
                    color: #575757;
                    font-weight: 600;
                    line-height: 25px;
                }
            }
        }
    }
}