.homeVideoSlider {
    position: relative;
height: 100vh;
margin: 100px 0 0;
padding: 0 0 50px;

.mediaVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media (max-width:1024px) {
  .mediaVideo{
    object-fit: contain;
  }
}
@media (max-width:768px) {
    height: 45vh;
}
@media (max-width:425px) {
    height: 30vh;
    margin: 20px 0 0;
    .mediaVideo{
        object-fit: contain;
    }
}
    // .videoSlider {
    //     position: relative;

    //     img {
    //         height: 70vh;
    //         width: 100%;
    //         object-fit: cover;
    //         object-position: center;
    //     }

    //     svg {
    //         width: 65px;
    //     }

    //     .videoWrapper {
    //         height: 90vh;   
    //         width: 100%;
    //         background-repeat: no-repeat;
    //         background-size: cover;
    //         background-position: center;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //     }

    //     .swiper-Button-prev {
    //         &::after {
    //             color: black;
    //         }

    //         z-index: 99;
    //         left: 2% !important;
    //     }

    //     .swiper-Button-next {
    //         &::after {
    //             color: black;
    //         }

    //         z-index: 99;
    //         right: 2%;
    //     }
    // }
}