.homeVideoSlider {
    position: relative;
height: 100vh;
margin: 100px 0 0;
    .videoSlider {
        position: relative;

        img {
            height: 70vh;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        svg {
            width: 65px;
        }

        .videoWrapper {
            height: 90vh;   
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-Button-prev {
            &::after {
                color: black;
            }

            z-index: 99;
            left: 2% !important;
        }

        .swiper-Button-next {
            &::after {
                color: black;
            }

            z-index: 99;
            right: 2%;
        }
    }
}