#companyBanner{

    .container{
        overflow: hidden;
        border-radius: 30px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:768px) {
            height: 300px;
                  }
        h1{
            animation: animationLeft 18s infinite;
            width: 1000px;
        
            font-size: 66px;
            line-height: 150px;
            font-weight: 600;
            color: #fff;
            @media (max-width:768px) {
            font-size: 35px;
            line-height: 80px;
                  }
        }
    }
    @keyframes animationLeft {
        0%{
            transform: translateX(105%);
        }
        100%{
            transform: translateX(-110%);
        }
     
    }

}