#ourServices{
    
.sectionHeader{
    h2{
        font-family: "Oswald", sans-serif;
        font-size: 80px;
        color: #993D1C;
        line-height: 100px;
        text-align: start;
    }
}
    .imageCart{
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    .sectionText{
        max-width: 90%;
        text-align: center;
        p{
            font-size: 20px;
            line-height: 25px;
        }
    }
}