.canvasDiv {
    height: 50vh;
    // width: 50vh;
    position: fixed;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    // border: 1px solid black;
}

@media only screen and (max-width: 950px) {
    .canvasDiv {
        height: 45vh;
    }
}