.canvasDiv {
    height: 55vh;
    width: 55vh;
    position: fixed;
    top: 160px;
    left: 48.5%;
    transform: translateX(-50%);
    z-index: 90;
    // border: 1px solid black;
   @media (min-width:2000px) {
    left: 50%;
   }
}

@media only screen and (max-width: 950px) {
    .canvasDiv {
        height: 45vh;
    }
}