.desktopNavbar {
  position: fixed !important;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  @media (max-width: 950px) {
    display: none;
  }
  padding: 10px 0 5px;
  .logo {
    width: 100%;
    height: 75px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .nav_items {
    // padding-top: 20px;
    display: flex;
    .nav_links {
      display: flex;
      width: 70%;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        position: relative;
        .active {
          color: #ffb212;
        }
        // &:hover {
        //   .hoverList {
        //     height: auto;
        //   }
        // }
        a {
          text-decoration: none;
          font-size: 16px;
          line-height: 16px;
          color: #777777;
          transition: 0.3s all;
          &:hover {
            color: #ffb212 !important;
          }
        }
        .hoverList {
          margin: 0 0 0 12px;
          padding: 0;
          transition: 0.4s ease-in-out;
          position: absolute;

          height: 0;
          overflow: hidden;
        }
      }
    }
    .nav_btns {
      display: flex;
      justify-content: end;
      gap: 20px;
      width: 30%;
      .search {
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 5px 8px;
        width: 90%;
        input {
          width: 90%;
          border: none;
          &:focus{
            outline: none;
          }
          &::placeholder {
            color: #575757;
            font-size: 16px;
          }
        }
        .icon {
          width: 50px;
          height: 30px;
          background-color: #42aa49;
          border: 1px solid black;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (min-width:1440px) {
            height: 40px;
            width: 40px;
          }
          svg{
            width: 50%;
            height: 50%;
          }
        }
      }
      .changeLang {
        display: flex;
        align-items: center;
        select {
          border: none;
        }
      }
    }
  }
}
.navbaractive {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.6s ease-in-out;
}
.mobileNavbar {
  @media (min-width: 950px) {
    display: none;
  }
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  .searchIcon {
    width: 100%;
    svg {
      &:hover {
        fill: #ffb212 !important;
      }
    }
  }
  .mobileLogo {
    width: 100%;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .mobileNavbarItems {
    padding: 40px 45px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: white;
    position: fixed;
    z-index: 9999;
    top: 112px;
    transition: 0.4s ease-in-out;
    .straxberry-slice{
      button{
        margin-right: 10px;
        background-color: #fff;
        border-radius: 10px;
        border:1px solid #000;
        padding: 8px 10px;
        font-size: 16px;
        transition: 0.4s ease-in-out;
      }
      .activebtn{
        background-color: #ffb212;
        border-color: #ffb212;
        color: #fff;
      }
      // .deactivebtn{
      //   background-color: #ffb212;
      // }
    }
    .nav_links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin: 0;
      padding: 0;
      gap: 25px;
      li {
        text-align: start;
        a {
          color: #006633;
          font-weight: 700;
          line-height: 32.5px;
          font-size: 32px;
          text-decoration: none;
        }
        .activeList{
          width: 100%;
          height: var(--listHeight);
          overflow: hidden;
          transition: .3s ease-in-out;
          li{
            padding: 7px 0;
            
          }
        }

      }
    }
  }
  .noneMobileNavbar {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
}
