main{
    #productDetail{
        .detailImage{
            width: 100%;
            height: 400px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            &::before {
                content: "";
                position: absolute;
                top: 55%;
                left: 50%; 
                transform: translateX(-50%);
                width: 100%; 
                height: 70%;
                background-color:var(--circle-color, rgba(0, 123, 255, 0.2)); /* Dairenin rengi */
                border-radius: 50%;
                z-index: -2; 
                @media (max-width:768px) {
                    top: 50%;
                    height: 110%;
                }
              }
            .productImage{
                position: absolute;
                bottom: 2%;
                width: 100%;
                height: 330px;
                object-fit: cover;
                transition: .5s ease-in-out;
                animation:Fly 5s ease-in-out infinite;
                @media (max-width:768px) {
                    height: 380px;
                    object-fit: contain;
                }
                @media (max-width:425px) {
                            bottom: -5%;   
                }
            }
            .cloud{
                width: 105%;
                height: auto;
                position: absolute;
                bottom: -20%  ;
                z-index: 0;
               animation:CloudAnimation 5s ease-in-out infinite;
               @media (max-width:768px) {
                bottom: -45%;
            }
            @media (max-width:425px) {
                bottom: -20%;
            }
            }
        }
        .detailProductInfo{
            .productName{
                color:#55941A ;
                font-size: 60px;
                text-align: center;
                font-family: "Amatic SC", sans-serif;
            }
            .productWeight{
                font-size: 30px;
                font-weight: 500;
                color: #000;
                font-family: "Amatic SC", sans-serif;
            }
            .productTitle{
                font-size: 23px;
                font-weight: 300;
                color: #3f3d3d;
                font-family: "Shantell Sans", cursive;
            }
            .productDetail{
                display: flex;
                flex-direction: column;
                li{
                    display: flex;
                    justify-content: space-between;
                    .detailborder{
                        height: auto;
                        background-color: #70B21F;
                        width: 4px;
                    }
                    span{
                        font-weight: 700;
                        font-family: "Shantell Sans", cursive;
                        width: 40%;
                        font-weight: 400;
                        font-size: 1.4rem;
                        @media (max-width:425px) {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .detailButton{
                width: 100%;
                background-color: #55941A;
                color: #FFF;
                border: none;
                border-radius: 11px;
                // padding: 8px 0;
                margin: 15px 0;
                font-size: 30px;
            }
            .border{
                margin: 20px 0;
                border-color: #70B21F !important;
            }
            .qualityList{
                margin: 0;
                padding: 0; 
                li{
                    font-size: 25px;
                    line-height: 35px;
                    font-weight: 300;
                }   
            }
        }
    }
    #featuredproducts{
        padding: 60px 0  ;
        .sectionHeaderBtns{
            .similarBtn,
            .prParametrsBtn {
                border: none;
                font-size: 1.4rem;
                font-weight: 500;
                padding: 0.8rem 2rem;
                background: transparent;
                border-radius: 11px;
                margin-right: 20px;
                color: #983D1B;
                cursor: pointer;
                transition: 0.5s ease;
                
            } 
            .activeBtn {
                background-color: rgba(128, 159, 56, 0.26);
                pointer-events: none;
            }

        }
        .sliderBox{
            width: 100%;
            .swiper-slide{
                border-radius: 15px;
                padding: 15px;
                // width: 400px;
                // max-width: 300px;
                // height: 380px;
                a{
                    text-decoration: none;
                }
                .slide_card{
                    border-radius: 15px;
                    background-color: #ffffff1f;
                    padding: 10px;
                    width: 100%;
                    text-align: center;
                   
                    .slideImage{
                        width: 100%;
                        height: 280px;
                        object-fit: cover;
                        object-position: bottom;
                        @media (max-width:768px) {
                            object-fit: contain;
                        }
                    }
                    h3{
                        
                        color: var(--text-color);
                        font-size: 18px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                    p{  
                        margin: 0;
                        font-size: 15px;
                        color: var(--text-color);
                    }
                }
            }
        }
        .productAtribute{
            .description {
				width: 90%;
				text-align: center;
				color: rgba(48, 69, 35, 1);
				font-size: 1.2rem;
				margin: 2rem auto;
			}
			.calorie {
				width: 70%;
				margin: 0 auto;
				.title {
					background-color:#55941A;
					font-size: 1.2rem;
					padding: 10px 0px;
					color: white;
					text-align: center;
					font-weight: 400;
                    margin: 0;
				}
				table {
					border-collapse: collapse;
					width: 100%;
				}
				.thtdWarapper {
					 display: table-row;
				}
				td,
				th {
					width: 50%;
					border: 1px solid rgba(128, 159, 56, 1);
					text-align: left;
					padding: 8px 14px;
				}
			}
        }
    }
}
@keyframes Fly {
    0% {
        transform: translate(0%, 0) translateX(0) translateY(0);
      }
      25% {
        transform: translate(0%, 0) translateX(-3px) translateY(-2px);
      }
      50% {
        transform: translate(0%, 0) translateX(2px) translateY(3px); 
      }
      75% {
        transform: translate(0%, 0) translateX(-2px) translateY(1px); 
      }
      100% {
        transform: translate(0%, 0) translateX(0) translateY(0);
      }
}
@keyframes CloudAnimation {
    0% {
        transform: translate(0%, 0) translateX(0) ;
      }
      25% {
        transform: translate(0%, 0) translateX(-3px) ;
      }
      50% {
        transform: translate(0%, 0) translateX(2px) ; 
      }
      75% {
        transform: translate(0%, 0) translateX(-2px) ; 
      }
      100% {
        transform: translate(0%, 0) translateX(0);
      }
}