#homeSlider {
    padding: 100px 0 0;   
    width: 100%;
    height: 100vh;
    @media (max-width:426px) {
    padding: 0;
    }
    .sliderBox {
        width: 98%;
        height: 100vh;

        .swiper {
            width: 90%;
            height: 100%;

            .swiper-slide {

                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s eas;
                background-color: #F7EBEB;
                // padding: 0 0 50px;
                height: 80vh;
                margin-top: 25px;
                @media (max-width:426px) {
                    align-items: end;
                }

                .slide_card {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .slideImage {
                        width: 400px;
                        height: 50vh;
                        object-fit: contain;
                        @media (max-width:768px) {
                            height: 40vh;
                        }

                    }
                    h3{
                        font-size: 27px;
                        @media (max-width:768px) {
                           font-size: 20px;
                        }
                    }

                    .pattern {
                        width: 80px;
                        height: 15px;
                        margin-bottom: 10px;
                    }

                    button {
                        background-color: #F7EBEB;
                        cursor: pointer;
                        outline: none;
                        padding: 10px 55px;
                        color: #0D9B4D;
                        border-radius: 18px;
                        border: 1px solid #0D9B4D;
                        transition: .4s ease-in-out;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }

                        &:hover {
                            background-color: #FFB212;
                            border: 1px solid #FFB212;
                            color: #0D9B4D;
                        }
                    }
                }
            }

         
            .swiper-button-prev {
                svg {
                    width: 43px;
                    position: absolute;
                    top: 0%;
                    left: -50%;
                }

                z-index: 99;
                left: 25% !important;

                @media (max-width:768px) {
                    left: 15% !important;
                }
            }

            .swiper-button-next {
           

              

                svg {
                    width: 43px;
                    position: absolute;
                    top: 0%;
                    left: 50%;
                }

                z-index: 99;
                right: 25% !important;

                @media (max-width:768px) {
                    right: 15% !important;
                }
            }
            .sliderbtn{
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #FFB212;
                &::after {
                    content: "";
                }
                @media (max-width:426px) {
                    width: 35px;
                    height: 35px;
                    svg{
                        width: 35px ;
                    }
                }
            }

        }
    }
}